{{ define "main" }}

<h1 class="center tc f2 pa2">Rangliste</h1>
<div class="center grey-3 tc">
  <p class="center tc" id="latestIntegratedFileProducedAt"></p>
</div>

{{ if .Params.image }}
<div class="center"><img src="{{ .Params.image }}" alt="{{ .Title }}" /></div>
{{ end }} 

{{ if .Params.showPlaceholder }}
<div class="center tc">
  {{ .Params.placeholder }}
</div>
{{ else }}
<div class="center">
  {{ if .Params.song }}
  <article>
    <h2>Song des Tages</h2>
    <p>{{ .Params.song.description }}</p>
    <a
      href="{{ .Params.song.url }}"
      target="_blank"
      referrerpolicy="no-referrer"
      >{{ .Params.song.title }}</a
    >
    <div>
      <img style="width: 200px" src="{{ .Params.song.image }}" alt="" />
    </div>
  </article>
  {{ end }}

  <div class="mt3"> Hier kommt dann die Rangliste hin </div>
</div>
{{ end }}

<script>
  (function () {})();
</script>

{{ end }}
